# Lines started with # are comments
#########################################################################
# The extensions of the files passing through the Traffic Server will be 
# compared against the list of extensions present in this file. If a 
# match is found, the file will be scanned for virus
#
# You can add one extension per line without the dot (".")
# The special keyword "no_extension" can be used and means that files
# with no extension or no filename will be scanned.
#########################################################################
no_extension
386
acm
acv
adt
arc
arj
ax
bat
bin
btm
cla
com
cpl
csc
csh
dll
doc
dot
drv
gz
exe
hlp
hta
htm
html
htt
inf
ini
js
jse
jtd
mdb
mp2
mp3
mpa
mpc
mpd
mpe
mpeg
mpg
mpm
mpp
mpr
mpt
mpv
mpx
mso
obd
obt
ocx
ov
ov1
ov2
ovd
ovl
ovr
lzh
lha
pif
pl
pm
pot
pps
ppt
tar
rtf
scr
sh
shb
smm
sys
vbe
vbs
vsd
vss
vst
vxd
wsf
wsh
xla
xlb
xlc
xld
xlk
xll
xlm
xls
xlt
xlv
xlw
zip
