# Lines started with # are comments.

########################################################################
# The URLs listed here and their sub-directories will be bypassed for 
# Virus scanning. You can put one URL per line, without "http://".
########################################################################
internal
www.inktomi.com
inktomi.com
