# This is a comment-line.
######################################################################
# In this file, the trusted content-types are specified. This is an
# optional file. If this file is not specified, or if the plugin
# fails to read the file at the load-time, none of the content-types
# will be trusted.
#
# A trusted content-type will not be considered for scanning for 
# viruses.
#
# A content-type is specified in the form of type/sub-type. This 
# file accepts wildcard entry for the sub-type but not for the 
# type. E.g. if you enter text/*, both text/plain and text/html 
# are trusted. But if the entry says t*, none of the above is 
# trusted, since plugin translate that to type=t and subtype=all.
# Moreover image/* and image /* are not same. In the first case 
# the type is "image" whereas, in the second case, the type is
# "image ".
#
# If you provide the extension.config and trusted-type.config (this 
# file), the plugin checks the extension of the requested file in the
# extensions.config file. If it does not find the extension there 
# (meaning that that particular extension is trusted), the plugin 
# does not check the content-type. Only if the extension is found 
# in the extensions.config file, plugin also checks the content-type 
# to see whether it is trusted. If the content-type is trusted it does
# not send the file for scanning.
#
# If you want to do scanning only based on content-type, do not provide
# the extensions.config file. If plugin does not find that file at 
# load-time, it will assume no extension is trusted, thus it will 
# check the content-type of the file against the trusted-type.config
# file (this file). You also have to configure the CarrierScan server
# to ignore the extension on its side by adding two adjacent semicolons
# (Cscan extension list: ";;"). Check the CarrierScan documentation 
# for further detail.
#
# Having both extensions.config and trusted-type.config, enhances the 
# performance at the expense of some security. Not having none of the 
# extensions.config or trusted-type.config files is the highest form of 
# security, but the performance will be poorer, since now all the files 
# are scanned.
#########################################################################
text/plain
image/*
audio/*
video/*
